// COLORS

$calm-green: #9DC997; // Calm Green
$celery: #a5d05e; // Celery


$pickled-bluewood: #2b3e51; // Pickled Bluewood
$sky-blue: #2ec4b6; // Sky Blue rgba(46, 196, 182, 100)
$curious-blue: #2c97de; // Curious Blue


$mandy: #e76363; // Mandy
$cinnabar: #e94b35; // Cinnabar
$neon-pink: #ff3366; // Neon Pink rgba(255, 51, 102, 100)


$white: #ffffff; // White
$porcelain: #ecf0f1; // Porcelain
$darcula-black: #011627; // Darcula Black rgba(1, 22, 39, 100)
$matte-black: #222222; // Matte Black
$black: #000000; // Black



$matte-purple: #44355B; // Matte Purple
$dark-purple: #31263E; // Dark Purple
$nav-black: #221E22; // Nav Black


$clay: #3f3f37; // Clay rgba(63, 63, 55, 100)
$dark-cream: #d6d6b1; // Dark Cream rgba(214, 214, 177, 100)
$platinum-dune: #878472; // Platinum Dune rgba(135, 132, 114, 100)
$nemo: #de541e; // Nemo rgba(222, 84, 30, 100)

$washed_black: #515151;
$overcast: #a29eab;
$overcast_d1: #96939e;
$overcast_d2: #8a8891;
$overcast_d3: #7f7d84;
$overcast_d4: #737277;

$candy_stick: #fffff8;
$dark_teal: #6c9da0;
$dark_teal_l1: #81abac;
$dark_teal_l2: #96b9b9;
$dark_teal_l3: #abc7c5;
$dark_teal_l4: #c0d5d2;




// Analogous color palette
$analogue-blue: #00CDFF;
$analogue-green: #26E80C;
$analogue-orange: #FFC900;
$analogue-red: #E8390C;
$analogue-pruple: #B00DFF;

// Flat UI Colors
$turquoise: #1abc9c;
$green_sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peter_river: #3498db;
$belize_hole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet_asphault: #34495e;
$midnight_blue: #2c3e50;
$sun_flower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranite: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;