@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400 !important;
  color: $matte-black;
}

.logo {
  padding: 50px;
  width: 25%;
}

.contact-label {
  font-weight: 700;
  margin: 0;
  padding: 15px 50px 15px 50px;
  color: $porcelain;
}

.contact-info {
  font-weight: 300;
  margin: 0;
  padding: 0 50px 0 50px;
  color: $porcelain;

  &:last-child {
    padding-bottom: 50px;
  }
}

a i {
  padding-right: 20px;
}

span a {
  color: $porcelain;
  text-decoration: none;

  &:hover {
    color: shade($porcelain, 10);
  }
}

.name {
  font-size: 3em;
  font-weight: 700;
  margin: 0;

  &.alizarin {
    color: $alizarin;
  }
}

.title {
  font-weight: 700;
  margin: 0;
  padding: 10px 0 30px 0;
}

.background {
  font-weight: 300;
  margin: 0;
  padding: 0 0 40px 0;
}

.btn {
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 15px 0 0;
  padding: 10px 30px;
  border-radius: 25px;

  &.btn-filled {
    color: $porcelain;
    background-color: $alizarin;
    border: 3px solid transparent;

    &:hover {
      color: shade($white, 10);
      background-color: $pomegranite;
    }
  }

  &.btn-outlined {
    color: $matte-black;
    background-color: $candy_stick;
    border: 3px solid $matte-black;

    &:hover {
      color: $candy_stick;
      background-color: $matte-black;
    }
  }
}